@model IEnumerable<ReservationManager.Models.Reservation>
@using Microsoft.AspNetCore.Identity

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var usr = new IdentityUser();
    var role = new IdentityRole();
}

<h1>Index</h1>

<p>
    @if (User.Identity.IsAuthenticated)
    {
        if (User.IsInRole("Student"))
        {
            <a asp-action="Create">Create New</a>
        }
    }
    
</p>
@*<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Student.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cause)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReservationType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Student.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Student.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cause)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReservationType.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @if(User.Identity.IsAuthenticated)
                    {
                        if (User.IsInRole("Student"))
                        {
                            <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id">Edit</a> 
                            <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a> 
                        }
                        else if(User.IsInRole("Admin"))
                        {
                            
                            <a class="btn btn-primary" asp-action="Confirm" asp-route-id="@item.Id">Confirm</a>
                            <a class="btn btn-danger" asp-action="Decline" asp-route-id="@item.Id">Decline</a> 
                        }
                        else
                        {
                            <a hidden class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id">Edit</a> 
                            <a hidden class="btn btn-primary" asp-action="Confirm" asp-route-id="@item.Id">Confirm</a>
                            <a hidden class="btn btn-danger" asp-action="Decline" asp-route-id="@item.Id">Decline</a> 
                        }
                        
                        
                    }
                     
            </td>
        </tr>
}
    </tbody>
</table>*@

 <div class="card-columns">
    @foreach (var item in Model)
    {
        <div class="card m-3">
            <div class="card-header">
                <h4 class="card-title">@item.Student.FirstName <span>@item.Student.LastName</span></h4>
            </div>
            <h5>Date:</h5> <p><span> @item.Date</span></p>
            <h5>Cause:</h5><p class="card-text">@item.Cause</p>
            <h5>Type:</h5><p>@item.ReservationType.name</p>
            <h5>Status:</h5><p>@item.Status</p>
            <div class="card-footer text-center">
                @if(User.Identity.IsAuthenticated)
                    {
                        if (User.IsInRole("Student"))
                        {
                            <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id">Edit</a> 
                            <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a> 
                        }
                        else if(User.IsInRole("Admin"))
                        {
                            
                            <a class="btn btn-primary" asp-action="Confirm" asp-route-id="@item.Id">Confirm</a>
                            <a class="btn btn-danger" asp-action="Decline" asp-route-id="@item.Id">Decline</a> 
                        }
                        else
                        {
                            <a hidden class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id">Edit</a> 
                            <a hidden class="btn btn-primary" asp-action="Confirm" asp-route-id="@item.Id">Confirm</a>
                            <a hidden class="btn btn-danger" asp-action="Decline" asp-route-id="@item.Id">Decline</a> 
                        }
                        
                   
                                                
                    }
            </div>
        </div>
    }
</div>


