@model IEnumerable<ReservationManager.Models.Reservation>
@using Microsoft.AspNetCore.Identity

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var usr = new IdentityUser();
    var role = new IdentityRole();
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Student.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cause)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReservationType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Student.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Student.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cause)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReservationType.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @if(User.Identity.IsAuthenticated)
                    {
                        if (User.IsInRole("Student"))
                        {
                            <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id">Edit</a> 
                        }
                        else if(User.IsInRole("Admin"))
                        {
                            
                            <a class="btn btn-primary" asp-action="Approved" asp-route-id="@item.Id">Confirm</a>
                        }
                        else
                        {
                            <a hidden class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id">Edit</a> 
                            <a hidden class="btn btn-primary" asp-action="Approved" asp-route-id="@item.Id">Confirm</a>
                        }
                        
                   
                        @*if (User.IsInRole("Admin"))
                        {
                            <a asp-action="Approved" asp-route-id="@item.Id">Confirm</a>
                        }
                        else
                        {
                            <a hidden asp-action="Approved" asp-route-id="@item.Id">Confirm</a>
                        }*@
                        
                    }
                    | <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a> 
            </td>
        </tr>
}
    </tbody>
</table>
